.container {
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  /* light mode */
  color: var(--color-text);
}

.item button {
  display: flex;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  /* light mode */
  color: var(--color-text);
}

.item button:hover {
  /* light mode */
  background-color: var(--color-button-hover-bg);
  color: var(--color-accent);
}

.todo {
  display: flex;
  align-items: center;
}

.todo button {
  margin-right: 0.5rem;
}

.todo.done span {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo.done button {
  color: var(--color-accent);
}
