.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: var(--color-bg-light);
}

.header button {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  color: var(--color-accent);
  filter: brightness(90%);
}

.header svg {
  display: flex;
}

.header button:hover {
  /* light mode */
  filter: brightness(100%);
}

.filters {
  display: flex;
}

.filters button {
  text-transform: capitalize;
  margin-right: 0.2rem;
  font-size: inherit;
}

.selectedFilter button {
  filter: brightness(100%);
}
.selectedFilter::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-accent);
}
