.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: pink;
}

.header button {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  /* light mode */
  color: rgb(243, 74, 103);
}

.header svg {
  display: flex;
}

.header button:hover {
  /* light mode */
  color: rgb(215, 0, 0);
}

.filters {
  display: flex;
}

.filters button {
  text-transform: capitalize;
  margin-right: 0.2rem;
  font-size: inherit;
}

.selectedFilter::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid rgb(251, 116, 116);
}

/* dark mode style */

.dark {
  background-color: black;
}

.dark button {
  color: pink;
}

.dark button:hover {
  color: rgb(254, 222, 228);
}

.dark .selectedFilter::after {
  border: 1px solid rgb(255, 225, 225);
}
